### ASSIGNMENT

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
df = pd.read_csv('sensor_readings_24.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5455 entries, 0 to 5454
Data columns (total 25 columns):
0.438                5455 non-null float64
0.498                5455 non-null float64
3.625                5455 non-null float64
3.645                5455 non-null float64
5.000                5455 non-null float64
2.918                5455 non-null float64
5.000.1              5455 non-null float64
2.351                5455 non-null float64
2.332                5455 non-null float64
2.643                5455 non-null float64
1.698                5455 non-null float64
1.687                5455 non-null float64
1.698.1              5455 non-null float64
1.717                5455 non-null float64
1.744                5455 non-null float64
0.593                5455 non-null float64
0.502                5455 non-null float64
0.493                5455 non-null float64
0.504                5455 non-null float64
0.445                5455 non-null float64
0.431                5455 non-null float64
0.444                5455 non-null float64
0.440                5455 non-null float64
0.429                5455 non-null float64
Slight-Right-Turn    5455 non-null object
dtypes: float64(24), object(1)
memory usage: 1.0+ MB

In [4]:
df.head()

,0.438,0.498,3.625,3.645,5.000,2.918,5.000.1,2.351,2.332,2.643,...,0.593,0.502,0.493,0.504,0.445,0.431,0.444,0.440,0.429,Slight-Right-Turn
0,0.438,0.498,3.625,3.648,5.0,2.918,5.0,2.637,2.332,2.649,...,0.592,0.502,0.493,0.504,0.449,0.431,0.444,0.443,0.429,Slight-Right-Turn
1,0.438,0.498,3.625,3.629,5.0,2.918,5.0,2.637,2.334,2.643,...,0.593,0.502,0.493,0.504,0.449,0.431,0.444,0.446,0.429,Slight-Right-Turn
2,0.437,0.501,3.625,3.626,5.0,2.918,5.0,2.353,2.334,2.642,...,0.593,0.502,0.493,0.504,0.449,0.431,0.444,0.444,0.429,Slight-Right-Turn
3,0.438,0.498,3.626,3.629,5.0,2.918,5.0,2.640,2.334,2.639,...,0.592,0.502,0.493,0.504,0.449,0.431,0.444,0.441,0.429,Slight-Right-Turn
4,0.439,0.498,3.626,3.629,5.0,2.918,5.0,2.633,2.334,2.645,...,0.589,0.502,0.493,0.504,0.446,0.431,0.444,0.444,0.430,Slight-Right-Turn

In [5]:
df['Slight-Right-Turn'].unique()

array(['Slight-Right-Turn', 'Sharp-Right-Turn', 'Move-Forward',
       'Slight-Left-Turn'], dtype=object)

In [6]:
label_encoder = preprocessing.LabelEncoder()
df['Slight-Right-Turn'] = label_encoder.fit_transform(df['Slight-Right-Turn'])

In [7]:
df['Slight-Right-Turn'].unique()

array([3, 1, 0, 2], dtype=int64)

In [8]:
df.head()

,0.438,0.498,3.625,3.645,5.000,2.918,5.000.1,2.351,2.332,2.643,...,0.593,0.502,0.493,0.504,0.445,0.431,0.444,0.440,0.429,Slight-Right-Turn
0,0.438,0.498,3.625,3.648,5.0,2.918,5.0,2.637,2.332,2.649,...,0.592,0.502,0.493,0.504,0.449,0.431,0.444,0.443,0.429,3
1,0.438,0.498,3.625,3.629,5.0,2.918,5.0,2.637,2.334,2.643,...,0.593,0.502,0.493,0.504,0.449,0.431,0.444,0.446,0.429,3
2,0.437,0.501,3.625,3.626,5.0,2.918,5.0,2.353,2.334,2.642,...,0.593,0.502,0.493,0.504,0.449,0.431,0.444,0.444,0.429,3
3,0.438,0.498,3.626,3.629,5.0,2.918,5.0,2.640,2.334,2.639,...,0.592,0.502,0.493,0.504,0.449,0.431,0.444,0.441,0.429,3
4,0.439,0.498,3.626,3.629,5.0,2.918,5.0,2.633,2.334,2.645,...,0.589,0.502,0.493,0.504,0.446,0.431,0.444,0.444,0.430,3

In [10]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [12]:
x_train.shape

(3818, 24)

In [13]:
y_train.shape

(3818,)

In [16]:
from keras.utils import np_utils

Using TensorFlow backend.

In [17]:
y_train = np_utils.to_categorical(y_train,10)
y_test = np_utils.to_categorical(y_test,10)

In [18]:
y_train[0]

array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)

In [19]:
model = Sequential()

In [26]:
model.add(Dense(32,input_shape=(24,)))
model.add(BatchNormalization())
model.add(Dense(128,activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(128,activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(128,activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(10,activation='softmax'))

In [27]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [31]:
model.fit(x_train,y_train,epochs=10,batch_size=300, validation_data=(x_test,y_test))

Train on 3818 samples, validate on 1637 samples
Epoch 1/10
3818/3818 [==============================] - 0s 105us/sample - loss: 0.4290 - acc: 0.8468 - val_loss: 0.3620 - val_acc: 0.8803
Epoch 2/10
3818/3818 [==============================] - 0s 100us/sample - loss: 0.4312 - acc: 0.8394 - val_loss: 0.3585 - val_acc: 0.8845
Epoch 3/10
3818/3818 [==============================] - 0s 105us/sample - loss: 0.4219 - acc: 0.8486 - val_loss: 0.3370 - val_acc: 0.8931
Epoch 4/10
3818/3818 [==============================] - 0s 105us/sample - loss: 0.4238 - acc: 0.8554 - val_loss: 0.3256 - val_acc: 0.8949
Epoch 5/10
3818/3818 [==============================] - 0s 108us/sample - loss: 0.4215 - acc: 0.8502 - val_loss: 0.3320 - val_acc: 0.8943
Epoch 6/10
3818/3818 [==============================] - 0s 107us/sample - loss: 0.4222 - acc: 0.8497 - val_loss: 0.3410 - val_acc: 0.8797
Epoch 7/10
3818/3818 [==============================] - 0s 99us/sample - loss: 0.4430 - acc: 0.8460 - val_loss: 0.3537 - val_acc: 0.8907
Epoch 8/10
3818/3818 [==============================] - 0s 107us/sample - loss: 0.4115 - acc: 0.8483 - val_loss: 0.3123 - val_acc: 0.8907
Epoch 9/10
3818/3818 [==============================] - 0s 105us/sample - loss: 0.4250 - acc: 0.8502 - val_loss: 0.3233 - val_acc: 0.8870
Epoch 10/10
3818/3818 [==============================] - 0s 105us/sample - loss: 0.4047 - acc: 0.8552 - val_loss: 0.3118 - val_acc: 0.8937